<div class="jumbotron bg-light">
  <div class="container">
    <h1 class="display-4">Mixin for the daily basis</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <pre><code class="text-danger" [innerHTML]="myMixin.dBloak"></code></pre>
      <pre><code class="text-danger" [innerHTML]="myMixin.widthHeightBg"></code></pre>
      <pre><code class="text-danger" [innerHTML]="myMixin.gridColRow"></code></pre>
      <pre><code class="text-danger" [innerHTML]="myMixin.flexAll"></code></pre>
    </div>
  </div>
</div>
