<div class="jumbotron bg-light">
  <div class="container">
    <h1 class="display-4">Mixin for the daily basis</h1>
    <p class="lead pb-4">Some list of mixin what i used in my projects</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <pre><code class="text-danger" [innerHTML]="myMixin.dBloak"></code></pre>
      <pre><code class="text-danger" [innerHTML]="myMixin.widthHeightBg"></code></pre>
      <pre><code class="text-danger" [innerHTML]="myMixin.gridColRow"></code></pre>
      <pre><code class="text-danger" [innerHTML]="myMixin.flexAll"></code></pre>
      <pre><code class="text-danger" [innerHTML]="myMixin.fontSizeColor"></code></pre>
      <pre><code class="text-danger" [innerHTML]="myMixin.position"></code></pre>
      <pre><code class="text-danger" [innerHTML]="myMixin.backGroundMixin"></code></pre>
      <pre><code class="text-danger" [innerHTML]="myMixin.btnStyle"></code></pre>
      <pre><code class="text-danger" [innerHTML]="myMixin.allBreakPoints"></code></pre>
    </div>
  </div>
</div>
