<div class="container-fluid mb-4 bg-color">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center align-items-start flex-md-column h-100 text-white">
        <h2 class="display-4 my-4">Take a break for love its <br/>Tea Love</h2>
        <p>Teas, especially green and black varieties, contain antioxidant compounds that may boost heart health and exert anticancer effects. Meanwhile, milk is rich in beneficial nutrients that contribute to growth and bone health.</p>
        <div class="text-left">
          <a [routerLink]="['/create-todo']" class="alert-link btn btn-primary ">Create Your Task List</a>
        </div>
      </div>
    </div>
    <app-tea-cup class="col my-4"></app-tea-cup>
  </div>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="jumbotron bg-light" *ngIf="arrayItem.length">
  <div class="container">
    <h1 class="display-4">Todo List</h1>
    <p class="lead pb-4">Showing all task of my ToDo List</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col m-auto">
      <table class="table" *ngIf="arrayItem.length else creatingToDoList">
        <thead class="bg-light">
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Ticket Id</th>
            <th scope="col">Status</th>
            <th scope="col">Remaining Hours</th>
            <th scope="col">Date</th>
            <th scope="col">Mark Complete</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of arrayItem; let i = index" class="{{item.className}}">
            <th scope="row">{{1+i}}</th>
            <td><a href="{{ticketLink+item.name}}" target="_blank">{{item.name}}</a></td>
            <td>{{item.desc}}</td>
            <td class="text-center">{{item.other}}</td>
            <td>{{item.dueDate}}</td>
            <td (click)="taskComplete(i)" class="text-success text-center">
              <!-- <div class="input-group-prepend">
                <div class="input-group-text"> -->
                  <input type="checkbox" aria-label="Checkbox for following text input">
                <!-- </div>
              </div> -->
            </td>
            <td>
              <button type="submit" class="btn btn-danger" (click)="removeTask(i)">
                <i class="far fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #creatingToDoList>
  <div class="dotted-box">
    <div class="alert alert-info" role="alert">
      There is no TODO list generated yet please got to this link => <a [routerLink]="['/create-todo']" class="alert-link">Create Your List</a>. to create your list.
    </div>
  </div>
</ng-template>
