<div class="jumbotron bg-light">
  <div class="container">
    <h1 class="display-4">Todo List</h1>
    <p class="lead pb-4">Showing all task of my ToDo List</p>
  </div>
</div>
<!-- <div class="container">
  <div class="row p-y-5">
    <form class="col-10 m-auto my-4" #myToDos="ngForm" (ngSubmit)="checkAndSaveData()">
      <div class="form-group my-3">
        <label class="form-label small" for="text1">Ticket Id</label>
        <input type="text" class="form-control" name="text1" [(ngModel)]="formData.firstField" id="text1" placeholder="Enter Ticket Id">
      </div>
      <div class="form-group mb-3">
        <label class="form-label small" for="text2">Ticket Status</label>
        <input type="text" class="form-control" name="text2" [(ngModel)]="formData.secondField" id="text2" placeholder="Enter Status">
      </div>
      <div class="form-group mb-3">
        <label class="form-label small" for="text3">Remaining Hours</label>
        <input type="text" class="form-control" name="text3" [(ngModel)]="formData.thirdField" id="text3" placeholder="Enter Remaining Hours">
      </div>
      <div class="form-group mb-3">
        <label class="form-label small" for="date">Date to Finish</label>
        <input type="date" class="form-control" name="date" [(ngModel)]="formData.date" id="date" placeholder="Enter Remaining Hours">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save Data</button>
        <p (click)="clearStorage()" class="btn btn-secondary m-3">Clear All Data</p>
      </div>
    </form>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col m-auto">
      <table class="table">
        <thead class="bg-light">
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Ticket Id</th>
            <th scope="col">Status</th>
            <th scope="col">Remaining Hours</th>
            <th scope="col">Date</th>
            <th scope="col">Mark Complete</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of arrayItem; let i = index" class="{{item.className}}">
            <th scope="row">{{1+i}}</th>
            <td>{{item.name}}</td>
            <td>{{item.desc}}</td>
            <td class="text-center">{{item.other}}</td>
            <td>{{item.dueDate}}</td>
            <td (click)="taskComplete(i)" class="text-success text-center">
              <!-- <div class="input-group-prepend">
                <div class="input-group-text"> -->
                  <input type="checkbox" aria-label="Checkbox for following text input">
                <!-- </div>
              </div> -->
            </td>
            <td>
              <button type="submit" class="btn btn-danger" (click)="removeTask(i)">
                <i class="far fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
