<div class="container my-4 bg-info">
  <div class="row">
    <app-tea-cup class="col my-4"></app-tea-cup>
    <div class="col">
      <div class="d-flex justify-content-center align-items-start flex-md-column h-100 text-white">
        <h2 class="font-bold my-4">Let's lose calories! Start afresh! All day, everyday. Lose yourself in the flavours</h2>
        <p>Teas, especially green and black varieties, contain antioxidant compounds that may boost heart health and exert anticancer effects. Meanwhile, milk is rich in beneficial nutrients that contribute to growth and bone health.</p>
        <div class="text-left my-4">
          <a [routerLink]="['/scss-mixin']" class="alert-link btn btn-primary ">See the ideas</a>
        </div>
      </div>
    </div>
  </div>
</div>