@import './../assets/scss/_mixin';
::ng-deep{
  .btn-primary {
    color: $white;
    background-color: $primary;
    border-color: $primary;
  }
  .btn-secondary {
    color: $primary;
    background-color: $white;
    border-color: $primary;
  }
  .btn{
    border-radius: 40px;
    padding: 0 16px;
    line-height: 36px;
  }
}