
<nav class="nv" [ngClass]="{'nav-open' : toggle}">
  <app-svg-icon class="nv_toggle" [iconHashTag]="menuIcon" (click)="toggleNav()"></app-svg-icon>
  <ul class="nv_list">
    <li class="nv_list_item" *ngFor="let item of headerConst; let i = index;" (click)="onButtonGroupClick(i)" [ngClass]="{'active' : i == mainIndex}">
      <span class="a"></span>
      <span class="b"></span>
      <a class="nv_list_item-link" [routerLink]="[item.link]">
        <app-svg-icon class="nv_icon" [iconHashTag]="item.icon"></app-svg-icon>
        <span class="nv_title">{{item.linkTitle}}</span>
      </a>
    </li> 
  </ul>
</nav>