.cup{
  position: relative;
  width: 280px;
  height: 300px;
  margin: auto;
  background-image: linear-gradient(to right, #f9f9f9, #d9d9d9);
  border-radius: 0 0 45% 45%;
  z-index: 2;
  padding: 100px 0;
  &_holder{
    position: relative;
    padding: 250px 0 90px;
  }
  &_top{
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, #f9f9f9, #d9d9d9);
    border-radius: 50%;
    &_circle{
      position: absolute;
      top: 5px;
      left: 10px;
      width: calc(100% - 20px);
      height: 50px;
      background-image: linear-gradient(to left, #f9f9f9, #d9d9d9);
      border-radius: 50%;
      overflow: hidden;
    }
  }
  &_tea{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 0;
    background-image: linear-gradient(#c57e65, #e28462);
    border-radius: 50%;
  }
  &_handle{
    position: absolute;
    top: 40px;
    right: -70px;
    width: 160px;
    height: 180px;
    border: 25px solid #dcdcdc;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    transform: rotate(42deg);
  }
  .vapour{
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
    span{
      position: relative;
      display: block;
      bottom: 50px;
      margin: 0 2px 50px;
      min-width: 8px;
      height: 80px;
      border-radius: 50%;
      background-color: #fff;
      animation: animate 5s linear infinite;
      opacity: 0;
      filter: blur(8px);
      animation-delay: calc(var(--i) * -0.5s);
    }
  }
}
.plate{
  position: absolute;
  bottom: 30px;
  left: calc(50% - 250px);
  width: 500px;
  height: 200px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #f9f9f9, #e7e7e7);
  box-shadow: 0 35px 35px rgba(0,0,0,.2);
  &::before{
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #f9f9f9, #e7e7e7);
  }
  &::after{
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(0,0,0,.2) 25%, transparent, transparent);
  }
}
@keyframes animate {
  0% {
    transform: translateY(0) scale(1);
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: translateY(-150px) scale(5);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(-300px) scale(10);
  }
}